<nav>
  <!-- <a href="/"> Home</a> -->
  <!-- <a href="/perfil"> Perfil</a> -->
  <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact:true}">
    Home
  </a>
  <a routerLink="/perfil" routerLinkActive="active" [routerLinkActiveOptions]="{ exact:true}">
    Perfil
  </a>
  <a routerLink="/proyectos" routerLinkActive="active" [routerLinkActiveOptions]="{ exact:true}">
    Proyectos
  </a>
  <a routerLink="/proyecto-dos-pages" routerLinkActive="active" [routerLinkActiveOptions]="{ exact:true}">
    Proyectos-2
  </a>


</nav>