<nav>
  <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact:true}">
    Home
  </a>
  <a routerLink="/perfil" routerLinkActive="active" [routerLinkActiveOptions]="{ exact:true}">
    Perfil
  </a>
  <a routerLink="/proyectos" routerLinkActive="active" [routerLinkActiveOptions]="{ exact:true}">
    Proyects
  </a>
  <a routerLink="/proyecto-dos-pages" routerLinkActive="active" [routerLinkActiveOptions]="{ exact:true}">
    Proyects2
  </a>
  <a [routerLink]="['/formulario/basic']"routerLinkActive="active">BasicForm</a> 
  <a [routerLink]="['/formulario/dynamic']"routerLinkActive="active">DynamicForm</a> 
  <a [routerLink]="['/formulario/more']"routerLinkActive="active">More</a> 



</nav>
